@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: 2px solid red;
}

:root{
    --body-background :rgba(13, 13, 13, 0.92);
    --divs-background : rgb(37, 39, 41);
    --inputs-color : rgb(108, 106, 106);
    --headers-color: #4B88C2;

}


body{
    width: 100%;
    min-height: 100vh;
}

.books-grid{
    width: 70%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1rem;
    text-align: center;
}

.list-item{
    width: 200px;
    /* height: 300px; */
    list-style: none;
}

.list-item img{
    width: 100%;
}