@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    transition: 1s;
    /* outline: 2px solid red; */
}

:root{
    --body-background :rgb(8, 8, 22);
    --divs-background : rgb(27, 30, 50);
    --inputs-color : rgba(226, 226, 226, 0.705);
    --major-topics-color: rgba(145, 165, 42, 0.945);
    --header-colors:rgb(238, 238, 238);

}

.light-mode{
    --divs-background : rgb(8, 8, 22);
    --body-background : rgb(238, 238, 238);
    --inputs-color: rgba(13, 13, 13, 0.92);
    --header-colors:rgb(238, 238, 238);
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--body-background);
}

header{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    z-index: 10;
    background-color: var(--divs-background);
}

header .header-logo{
    color: var(--major-topics-color);
}

header a{
    color: var(--header-colors);
    text-decoration: none;
}

nav{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

nav ul li{
    margin-right: 60px;
    list-style:none;
    font-size: 1.1rem;
}

.theme-controls{
    background-color: var(--divs-background);
    padding: 5px;
    border-radius: 50%;
}

.theme-controls box-icon{
    cursor: pointer;
}

.theme-controls box-icon:last-child{
    display: none;
}

.light-mode .theme-controls box-icon:first-child{
    display: none;
}

.light-mode .theme-controls box-icon:last-child{
    display: block;
}

.menu-control{
    display: none;
}

.sidebar{
    display: none;
    width: 70px;
    height: 70%;
    border-radius: 20px;
    border: 0.5px solid var(--header-colors);
    padding: 20px;
    position: fixed;
    top: 22%;
    left: -70px;
    background-color: var(--divs-background);
    z-index: 10;
}

.js-position-sidebar{
    left: 4px;
}

.minimized-item{
    display: none;
    text-align: right;
}

.minimize-sidebar{
    position: absolute;
    top: 80%;
    left: 50%;
}

.tooltip{
    padding: 6px 10px;
    border-radius: 10px;
    background-color: var(--major-topics-color);
    position: relative;
    left: 30px;
    display: none;
}

.sidebar-nav-items{
    list-style: none;
}

.sidebar-nav-items li{
    padding: 10px 0px;
}

.sidebar-nav-items li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--header-colors);
}

.light-and-dark-themes, 
.sidebar-nav-items li{
    display: flex;
    align-items: center;
}

.light-and-dark-themes:hover, 
.sidebar-nav-items li:hover{
    .tooltip{
        display: block;
    }
}

.rotate-minimize-button{
    transform: rotate(180deg);
}

.sidebar.activate-sidebar {
    width: 200px;
}

.sidebar.activate-sidebar .sidebar-icons{
    margin-right: 20px;
}

.sidebar.activate-sidebar .minimized-item{
    display: block;
}

.sidebar.activate-sidebar .minimize-sidebar{
    left: 80%;
}

.theme-container{
    display: flex;
    align-items: center;
    color: var(--header-colors);
}

main{
    width: 70%;
    margin: 0px auto;
    position: relative;
}

.hero-page{
    margin-top: 250px;
    
}

.hero-text{
    width: 80%;
    margin: 30px auto;
}

.hero-text h1{
    text-align: center;
    font-size: 4rem;
    color: var(--inputs-color);
}

.hero-text p{
    text-align: center;
    color: var(--inputs-color);
    line-height: 1.8;
    font-weight: 280;
    padding: 20px 0px;
}

.hero-page .search-and-filter-section{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin: 0px auto;
    width: 100%;
}

.search-box-container{
    width: 80%;
    margin: 30px auto;
    position: relative;  
}

.search-box-container .result-box-container{
    position: absolute;
    max-height: 300px;
    overflow-y: scroll;
    width: 100%;
    background-color: var(--divs-background);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10%; 
}

::-webkit-scrollbar-thumb {
    background: rgba(145, 165, 42, 0.945); 
}

::-webkit-scrollbar-button {
    display: none;
}

.searched-item{
    list-style: none;
    padding: 10px 15px;
    font-weight: 300;
    color: var(--header-colors);
    cursor: pointer;
}
.searched-item:hover{
    background-color: rgba(145, 165, 42, 0.945);
}

.search-container{
    width: 100%;    
    display: flex;
    padding: 20px;
    border-radius: 20px;   
}

.search-container input{
    width: 90%;
    background-color: transparent;
    color: var(--inputs-color);
    outline: none;
    border: none;
    font-size: 1rem;
    border-bottom: 0.5px solid ;
}

.search-container button{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--major-topics-color);
    outline: none;
    border: none;
    cursor: pointer;
}

.toggle-filters{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--divs-background);
    background-color: var(--divs-background);
    color: var(--inputs-color);
    outline: none;
    border: 0.5px solid var(--inputs-color);
    cursor: pointer;
}

.filter-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 20px auto;
    width: 70%;
}

.button-filters{
    /* display: none; */
    padding: 10px 15px;
    background-color: var(--divs-background);
    color: var(--inputs-color);
    border: none;
    cursor: pointer;
}

.home-books-header{
    padding: 10px 0px;
    color: var(--major-topics-color);
    font-size: 1.2rem;
}

hr{
    border: 0.8px solid var(--major-topics-color);
    margin: 20px 0px;
}

.books-grid{
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1rem;
    text-align: center;
    z-index: -2;
}

.list-item{
    width: 200px;
    list-style: none;
}

.list-item img{
    width: 100%;
}

.about-us {
    margin: 50px 0px;
}

.about-us .about-us-note,
.feedback-passage{
    color: var(--inputs-color);
    line-height: 1.8;
    font-weight: 300;
}

.about-us-note span,
.feedback-passage span{
    color: var(--major-topics-color);
    font-weight: 550;
    font-size: 1.25rem;
}

.contact-us{
    margin: 50px 0px;
}

.contact-info-send-message-container{
    display: flex;
    justify-content: space-between;
    column-gap: 4rem;
}

.contact-info-send-message-container p{
    color: var(--inputs-color);
    line-height: 1.8;
    font-weight: 300;
}

.contact-info{
    flex-basis: 36%;
}

.our-contacts{
    margin: 25px 0px;
}

.our-contacts .contact-type{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.write-a-message{
    flex-basis: 48%;
}

.write-a-message form input{
    margin: 10px 0px;
    display: block;
    width: 100%;
    padding: 12px 0px;
    font-weight: 300;
    border: none;
    border-bottom: 0.5px solid var(--inputs-color);
    background-color: transparent;
    color: var(--inputs-color);
    outline: none;
}


.write-a-message form textarea{
    display: block;
    margin: 30px 0px;
    width: 100%;
    min-height: 150px;
    padding: 12px;
    resize: none;
    font-size: 1rem;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    background-color: var(--divs-background);
    color: var(--header-colors);
    outline: none;
}

.submit-button{
    margin: 30px 0px;
    padding: 10px 13px;
    background-color: var(--major-topics-color);
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    border-radius: 30px;
}

#result{
    color: var(--major-topics-color);
}

/* Dynamically generated div styles */

.dynamically-generated-div{
    width: 100%;
    height: auto;
    margin: 200px auto;
    padding: 20px;
}

.take-me-back-button{
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
    color: var(--inputs-color);
    margin: 25px 0px;
    background-color: transparent;
    border:none;
    outline: none;
    cursor: pointer;
}

.book-full-details{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.book-cover{
    width: 350px;
}

.book-cover img{
    width: 100%;
}

.book-full-info{
    width: 65%;
}

.book-header .author{
    font-weight: 300;
    color: var(--inputs-color);
    font-style: oblique;
    text-decoration: underline;
    margin-bottom: 20px;
}

.comments-and-likes-stats{
    color: var(--inputs-color);
    display: flex;
    align-items: center;
    column-gap: 2rem;
    font-weight: 300;
}

.comment-stats,
.like-stats{
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
}

.full-book-description p{
    line-height: 1.8;
    color: var(--inputs-color);
    font-weight: 300;
}

.book-detailed-info-container{
    margin: 50px 0px;
}

.book-detailed-info{
    display: grid;
    grid-template-columns: 0.5fr 0.1fr 1fr;
    margin: 20px 0px;
    color: var(--inputs-color);
}

.detailed-answer{
    font-weight: 270;
}

/* Comment Section */
.comment-section{
    width: 100%;
    margin: 50px auto;
}

.comment-section .comment-keeper{
    width: 100%;
    margin-top: 60px;
}

.user-info-and-time{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: var(--inputs-color);
    margin-top: 30px;
}

.user-info-and-time .comment-time{
    font-weight: 300;
    font-style: oblique;
    font-size: 0.8rem;
}

.comment-container{
    padding: 20px 15px;
    border-radius: 10px;
    border-bottom: 0.5px solid var(--major-topics-color);
    background-color: var(--divs-background);
    color: var(--header-colors);
    font-weight: 300;
}

.comment-user-input{
    width: 100%;
    margin-bottom: 100px;

}

.comment-user-input input{
    width: 100%;
    color: var(--inputs-color);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--inputs-color);
    background-color: transparent;
    font-weight: 300;
    padding: 10px;
}


.comment-buttons .comment-button{
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 10px 16px;
    font-weight: 500;
    float: right;
    margin: 20px 0px;
}

.activate-comment-button{
    background-color: var(--major-topics-color);
    color: rgba(13, 13, 13, 0.92);
    cursor: pointer;
}

.deactivate-comment-button{
    background-color:rgba(82, 81, 81, 0.61) ;
    color: rgb(122, 122, 122);
    cursor: not-allowed;
}

footer{
    width: 100%;
    background-color: var(--divs-background);
    color: var(--header-colors);
    text-align: center;
    padding: 30px 0px;
}


/* ====================== Media Queries ============================ */
/* ====================== Portrait Mobile Device ============================*/
@media(max-width:480px){
    header{
        padding: 30px 20px;
    }

    .header-logo{
        font-size: 1.5rem;
    }
    
    nav{
        display: none;
    }

    .menu-control{
        display: block;
    }

    .sidebar {
        display: block;
    }

    main{
        width: 90%;
        margin: 0px auto;
    }
    
    .hero-page{
        margin-top: 150px;  
    }
    
    .hero-text{
        width: 100%;
    }
    
    .hero-text h1{
        font-size: 2.6rem;
    }
    
    .hero-text p{
        padding: 10px 0px;
    }
    
    .search-box-container{
        width: 100%; 
    }

    .search-container{
        padding: 10px;   
    }

    .books-grid{
        width: 100%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    
    .list-item{
        width: 100%;
    }

    .contact-info-send-message-container{
        display: block;
    }

    .our-contacts{
        margin: 40px 0px;
    }

    .write-a-message form input{
        font-size: 1rem;
    }
    
    /* Dynamically generated div styles */
    
    .dynamically-generated-div{
        margin: 150px auto;
        padding: 10px;
    }

    .book-full-details{
        display: block;
    }
    
    .book-cover{
        width: 100%;
    }
    
    .book-full-info{
        width: 100%;
    }

}

/* ====================== Landscape Mobile Device ============================*/
@media(min-width:481px) and (max-width : 767px){
    header{
        padding: 30px 20px;
    }

    .header-logo{
        font-size: 1.5rem;
    }
    
    nav{
        display: none;
    }

    .menu-control{
        display: block;
    }

    .sidebar {
        display: block;
    }

    main{
        width: 90%;
        margin: 0px auto;
    }
    
    .hero-page{
        margin-top: 150px;  
    }
    
    .hero-text{
        width: 100%;
    }
    
    .hero-text h1{
        font-size: 2.6rem;
    }
    
    .hero-text p{
        padding: 10px 0px;
    }
    
    .search-box-container{
        width: 100%; 
    }

    .search-container{
        padding: 10px;   
    }

    .books-grid{
        width: 100%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    
    .list-item{
        width: 100%;
    }

    .contact-info-send-message-container{
        display: block;
    }

    .our-contacts{
        margin: 40px 0px;
    }

    .write-a-message form input{
        font-size: 1rem;
    }
    
    /* Dynamically generated div styles */
    
    .dynamically-generated-div{
        margin: 150px auto;
        padding: 10px;
    }

    .book-full-details{
        display: block;
    }
    
    .book-cover{
        width: 100%;
    }
    
    .book-full-info{
        width: 100%;
    }

}

/* ====================== Tablet Portrait ============================*/
@media(min-width:768px) and (max-width : 991px){
    
    nav ul li{
        margin-right: 0px;
        font-size: 1rem;
    }

    main{
        width: 90%;
        margin: 0px auto;
    }
    
    .hero-page{
        margin-top: 150px;  
    }
    
    .hero-text{
        width: 100%;
    }
    
    .hero-text h1{
        font-size: 2.6rem;
    }
    
    .hero-text p{
        padding: 10px 0px;
    }
    
    .search-box-container{
        width: 100%; 
    }

    .search-container{
        padding: 10px;   
    }

    .books-grid{
        width: 100%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    
    .list-item{
        width: 100%;
    }

    .contact-info-send-message-container{
        column-gap: 1rem;
    }

    .contact-info{
        flex-basis: 48%;
    }

    .our-contacts{
        margin: 40px 0px;
    }

    .write-a-message form input{
        font-size: 1rem;
    }
    
    /* Dynamically generated div styles */
    
    .dynamically-generated-div{
        margin: 150px auto;
        padding: 10px;
    }

    .book-full-details{
        display: block;
    }
    
    .book-cover{
        width: 100%;
    }
    
    .book-full-info{
        width: 100%;
    }

}